table {
  border-collapse: separate;
  border-spacing: 0;
}
thead {
  /* VSCode webview does not support thead sticky yet */
  /* position: sticky;
  top: 0;
  background-color: var(--vscode-editor-background); */
}
thead tr th {
  position: sticky;
  top: 0;
  background-color: var(--vscode-editor-background);
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: var(--vscode-terminal-border);
}
tbody tr td {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--vscode-terminal-border);
}
tfoot tr th {
  position: sticky;
  bottom: 0;
  background-color: var(--vscode-editor-background);
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: var(--vscode-terminal-border);
  font-weight: var(--vscode-editor-font-weight);
}
th {
  padding: 4px 16px;
  text-align: left;
  vertical-align: top;
}
td {
  padding: 8px 16px;
  text-align: left;
  vertical-align: top;
}
tbody tr:last-of-type td {
  border-width: 0;
}
tbody tr.lastOfRowNumber td.rowNumber {
  border-width: 0;
}

.status {
}

.rowNumber {
  color: var(--vscode-descriptionForeground);
}

.box {
}
.stack {
  display: flex;
}
.stack-vertical {
  flex-direction: column;
}
.stack-horizontal {
  flex-direction: row;
}
.px-1 {
  padding-left: 4px;
  padding-right: 4px;
}
.px-2 {
  padding-left: 8px;
  padding-right: 8px;
}
.px-3 {
  padding-left: 16px;
  padding-right: 16px;
}
.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-3 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 16px;
}

.weakColor {
  color: var(--vscode-descriptionForeground);
}

.loading {
  position: fixed;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  background-color: var(--vscode-editor-background);
  border-color: var(--vscode-terminal-border);
  border-style: solid;
  border-width: 1px 0 0 1px;
  border-radius: 2px 0 0 0;
  z-index: 1;
}

.spinner {
  display: inline-block;
  box-sizing: border-box;
  border-top: 2px solid currentcolor;
  border-right: 2px solid currentcolor;
  border-bottom-style: solid;
  border-left-style: solid;
  border-radius: 99999px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-color: var(--vscode-descriptionForeground);
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: 0.45s linear 0s infinite normal none running animation-spinner;
  width: var(--spinner-size);
  height: var(--spinner-size);
  --spinner-size: 18px;
}

@keyframes animation-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skeleton {
  opacity: 0.7;
  box-shadow: none;
  cursor: default;
  color: transparent;
  pointer-events: none;
  user-select: none;
  height: 20px;
  border-radius: 2px;
  border-color: rgb(237, 242, 247);
  background: padding-box rgb(160, 174, 192);
  animation: 0.8s linear 0s infinite alternate none running animation-skeleton;
}

@keyframes animation-skeleton {
  0% {
    border-color: var(--vscode-terminal-foreground);
    background: var(--vscode-terminal-foreground);
  }
  100% {
    border-color: var(--vscode-descriptionForeground);
    background: var(--vscode-descriptionForeground);
  }
}

.spacebetween {
  justify-content: space-between;
}
