/* html,
body {
  font-family: var(--vscode-editor-font-family);
  color: var(--vscode-terminal-foreground);
  font-size: var(--vscode-editor-font-size);
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--vscode-editor-background);
  border-color: var(--vscode-terminal-border);
  line-height: 22px;
}

p {
  margin: 0;
} */
