/* When loaded in VSCode, these settings will be overridden by variables of the same name set in the <html> of the webview. */
:root {
  --vscode-font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  --vscode-font-weight: normal;
  --vscode-font-size: 13px;
  --vscode-editor-font-family: "Ubuntu Mono derivative Powerline", Menlo, Monaco,
    "Courier New", monospace;
  --vscode-editor-font-weight: normal;
  --vscode-editor-font-size: 18px;
  --vscode-foreground: #ebdbb2;
  --vscode-errorForeground: #fb4934;
  --vscode-descriptionForeground: rgba(235, 219, 178, 0.7);
  --vscode-icon-foreground: #c5c5c5;
  --vscode-focusBorder: #3c3836;
  --vscode-selection-background: rgba(104, 157, 106, 0.5);
  --vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
  --vscode-textLink-foreground: #83a598;
  --vscode-textLink-activeForeground: #458588;
  --vscode-textPreformat-foreground: #d7ba7d;
  --vscode-textBlockQuote-background: rgba(127, 127, 127, 0.1);
  --vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
  --vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
  --vscode-widget-shadow: rgba(40, 40, 40, 0.19);
  --vscode-input-background: rgba(235, 219, 178, 0.02);
  --vscode-input-foreground: #ebdbb2;
  --vscode-input-border: #3c3836;
  --vscode-inputOption-activeBorder: rgba(235, 219, 178, 0.38);
  --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
  --vscode-inputOption-activeBackground: rgba(60, 56, 54, 0.4);
  --vscode-inputOption-activeForeground: #ffffff;
  --vscode-input-placeholderForeground: rgba(235, 219, 178, 0.38);
  --vscode-inputValidation-infoBackground: rgba(69, 133, 136, 0.5);
  --vscode-inputValidation-infoBorder: #83a598;
  --vscode-inputValidation-warningBackground: rgba(215, 153, 33, 0.5);
  --vscode-inputValidation-warningBorder: #fabd2f;
  --vscode-inputValidation-errorBackground: rgba(204, 36, 29, 0.5);
  --vscode-inputValidation-errorBorder: #fb4934;
  --vscode-dropdown-background: #282828;
  --vscode-dropdown-foreground: #ebdbb2;
  --vscode-dropdown-border: #3c3836;
  --vscode-checkbox-background: #282828;
  --vscode-checkbox-foreground: #ebdbb2;
  --vscode-checkbox-border: #3c3836;
  --vscode-button-foreground: #ebdbb2;
  --vscode-button-background: rgba(69, 133, 136, 0.5);
  --vscode-button-hoverBackground: rgba(69, 133, 136, 0.38);
  --vscode-button-secondaryForeground: #ffffff;
  --vscode-button-secondaryBackground: #3a3d41;
  --vscode-button-secondaryHoverBackground: #45494e;
  --vscode-badge-background: #d3869b;
  --vscode-badge-foreground: #282828;
  --vscode-scrollbar-shadow: #282828;
  --vscode-scrollbarSlider-background: rgba(80, 73, 69, 0.6);
  --vscode-scrollbarSlider-hoverBackground: #665c54;
  --vscode-scrollbarSlider-activeBackground: #689d6a;
  --vscode-progressBar-background: #689d6a;
  --vscode-editorError-foreground: #cc241d;
  --vscode-editorWarning-foreground: #d79921;
  --vscode-editorInfo-foreground: #458588;
  --vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
  --vscode-sash-hoverBorder: #3c3836;
  --vscode-editor-background: #282828;
  --vscode-editor-foreground: #ebdbb2;
  --vscode-editorWidget-background: #282828;
  --vscode-editorWidget-foreground: #ebdbb2;
  --vscode-editorWidget-border: #3c3836;
  --vscode-quickInput-background: #282828;
  --vscode-quickInput-foreground: #ebdbb2;
  --vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
  --vscode-pickerGroup-foreground: #3794ff;
  --vscode-pickerGroup-border: #3f3f46;
  --vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
  --vscode-keybindingLabel-foreground: #cccccc;
  --vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
  --vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
  --vscode-editor-selectionBackground: rgba(104, 157, 106, 0.25);
  --vscode-editor-inactiveSelectionBackground: rgba(104, 157, 106, 0.13);
  --vscode-editor-selectionHighlightBackground: rgba(250, 189, 47, 0.25);
  --vscode-editor-findMatchBackground: rgba(131, 165, 152, 0.44);
  --vscode-editor-findMatchHighlightBackground: rgba(254, 128, 25, 0.19);
  --vscode-editor-findRangeHighlightBackground: rgba(131, 165, 152, 0.44);
  --vscode-searchEditor-findMatchBackground: rgba(254, 128, 25, 0.12);
  --vscode-editor-hoverHighlightBackground: rgba(104, 157, 106, 0.31);
  --vscode-editorHoverWidget-background: #282828;
  --vscode-editorHoverWidget-foreground: #ebdbb2;
  --vscode-editorHoverWidget-border: #3c3836;
  --vscode-editorHoverWidget-statusBarBackground: #303030;
  --vscode-editorLink-activeForeground: #ebdbb2;
  --vscode-editorInlayHint-foreground: rgba(40, 40, 40, 0.8);
  --vscode-editorInlayHint-background: rgba(211, 134, 155, 0.6);
  --vscode-editorInlayHint-typeForeground: rgba(40, 40, 40, 0.8);
  --vscode-editorInlayHint-typeBackground: rgba(211, 134, 155, 0.6);
  --vscode-editorInlayHint-parameterForeground: rgba(40, 40, 40, 0.8);
  --vscode-editorInlayHint-parameterBackground: rgba(211, 134, 155, 0.6);
  --vscode-editorLightBulb-foreground: #ffcc00;
  --vscode-editorLightBulbAutoFix-foreground: #75beff;
  --vscode-diffEditor-insertedTextBackground: rgba(184, 187, 38, 0.19);
  --vscode-diffEditor-removedTextBackground: rgba(251, 73, 52, 0.19);
  --vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
  --vscode-list-focusBackground: #3c3836;
  --vscode-list-focusForeground: #ebdbb2;
  --vscode-list-focusOutline: #3c3836;
  --vscode-list-activeSelectionBackground: rgba(60, 56, 54, 0.5);
  --vscode-list-activeSelectionForeground: #8ec07c;
  --vscode-list-inactiveSelectionBackground: rgba(60, 56, 54, 0.5);
  --vscode-list-inactiveSelectionForeground: #689d6a;
  --vscode-list-hoverBackground: rgba(60, 56, 54, 0.5);
  --vscode-list-hoverForeground: #d5c4a1;
  --vscode-list-dropBackground: #3c3836;
  --vscode-list-highlightForeground: #689d6a;
  --vscode-list-focusHighlightForeground: #689d6a;
  --vscode-list-invalidItemForeground: #b89500;
  --vscode-list-errorForeground: #f88070;
  --vscode-list-warningForeground: #cca700;
  --vscode-listFilterWidget-background: #653723;
  --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
  --vscode-listFilterWidget-noMatchesOutline: #be1100;
  --vscode-list-filterMatchBackground: rgba(254, 128, 25, 0.19);
  --vscode-tree-indentGuidesStroke: #585858;
  --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
  --vscode-tree-tableOddRowsBackground: rgba(235, 219, 178, 0.04);
  --vscode-list-deemphasizedForeground: #8c8c8c;
  --vscode-quickInputList-focusForeground: #8ec07c;
  --vscode-quickInputList-focusBackground: rgba(60, 56, 54, 0.5);
  --vscode-menu-foreground: #ebdbb2;
  --vscode-menu-background: #282828;
  --vscode-menu-selectionForeground: #8ec07c;
  --vscode-menu-selectionBackground: rgba(60, 56, 54, 0.5);
  --vscode-menu-separatorBackground: #bbbbbb;
  --vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
  --vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
  --vscode-editor-snippetTabstopHighlightBackground: rgba(124, 124, 124, 0.3);
  --vscode-editor-snippetFinalTabstopHighlightBorder: #525252;
  --vscode-breadcrumb-foreground: rgba(235, 219, 178, 0.8);
  --vscode-breadcrumb-background: #282828;
  --vscode-breadcrumb-focusForeground: #f4ead3;
  --vscode-breadcrumb-activeSelectionForeground: #f4ead3;
  --vscode-breadcrumbPicker-background: #282828;
  --vscode-merge-currentHeaderBackground: rgba(69, 133, 136, 0.25);
  --vscode-merge-currentContentBackground: rgba(69, 133, 136, 0.13);
  --vscode-merge-incomingHeaderBackground: rgba(104, 157, 106, 0.25);
  --vscode-merge-incomingContentBackground: rgba(104, 157, 106, 0.13);
  --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
  --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
  --vscode-merge-border: rgba(40, 40, 40, 0);
  --vscode-editorOverviewRuler-currentContentForeground: #458588;
  --vscode-editorOverviewRuler-incomingContentForeground: #689d6a;
  --vscode-editorOverviewRuler-commonContentForeground: #928374;
  --vscode-editorOverviewRuler-findMatchForeground: #bdae93;
  --vscode-editorOverviewRuler-selectionHighlightForeground: #665c54;
  --vscode-editorOverviewRuler-unicodeForeground: rgba(209, 134, 22, 0.49);
  --vscode-minimap-findMatchHighlight: #d18616;
  --vscode-minimap-selectionOccurrenceHighlight: #676767;
  --vscode-minimap-selectionHighlight: #264f78;
  --vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
  --vscode-minimap-warningHighlight: #d79921;
  --vscode-minimap-foregroundOpacity: #000000;
  --vscode-minimap-unicodeHighlight: #d18616;
  --vscode-minimapSlider-background: rgba(80, 73, 69, 0.3);
  --vscode-minimapSlider-hoverBackground: rgba(102, 92, 84, 0.5);
  --vscode-minimapSlider-activeBackground: rgba(104, 157, 106, 0.5);
  --vscode-problemsErrorIcon-foreground: #cc241d;
  --vscode-problemsWarningIcon-foreground: #d79921;
  --vscode-problemsInfoIcon-foreground: #458588;
  --vscode-charts-foreground: #ebdbb2;
  --vscode-charts-lines: rgba(235, 219, 178, 0.5);
  --vscode-charts-red: #cc241d;
  --vscode-charts-blue: #458588;
  --vscode-charts-yellow: #d79921;
  --vscode-charts-orange: #d18616;
  --vscode-charts-green: #89d185;
  --vscode-charts-purple: #b180d7;
  --vscode-editor-lineHighlightBackground: rgba(60, 56, 54, 0.38);
  --vscode-editor-lineHighlightBorder: rgba(60, 56, 54, 0);
  --vscode-editor-rangeHighlightBackground: rgba(255, 255, 255, 0.04);
  --vscode-editor-symbolHighlightBackground: rgba(254, 128, 25, 0.19);
  --vscode-editorCursor-foreground: #ebdbb2;
  --vscode-editorWhitespace-foreground: rgba(168, 153, 132, 0.13);
  --vscode-editorIndentGuide-background: rgba(168, 153, 132, 0.13);
  --vscode-editorIndentGuide-activeBackground: rgba(168, 153, 132, 0.31);
  --vscode-editorLineNumber-foreground: #665c54;
  --vscode-editorActiveLineNumber-foreground: #c6c6c6;
  --vscode-editorLineNumber-activeForeground: #c6c6c6;
  --vscode-editorRuler-foreground: rgba(168, 153, 132, 0.25);
  --vscode-editorCodeLens-foreground: rgba(168, 153, 132, 0.56);
  --vscode-editorBracketMatch-background: rgba(146, 131, 116, 0.5);
  --vscode-editorBracketMatch-border: rgba(40, 40, 40, 0);
  --vscode-editorOverviewRuler-border: rgba(40, 40, 40, 0);
  --vscode-editorGutter-background: rgba(40, 40, 40, 0);
  --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
  --vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
  --vscode-editorOverviewRuler-rangeHighlightForeground: #bdae93;
  --vscode-editorOverviewRuler-errorForeground: #fb4934;
  --vscode-editorOverviewRuler-warningForeground: #d79921;
  --vscode-editorOverviewRuler-infoForeground: #d3869b;
  --vscode-editorBracketHighlight-foreground1: #ffd700;
  --vscode-editorBracketHighlight-foreground2: #da70d6;
  --vscode-editorBracketHighlight-foreground3: #179fff;
  --vscode-editorBracketHighlight-foreground4: rgba(0, 0, 0, 0);
  --vscode-editorBracketHighlight-foreground5: rgba(0, 0, 0, 0);
  --vscode-editorBracketHighlight-foreground6: rgba(0, 0, 0, 0);
  --vscode-editorBracketHighlight-unexpectedBracket\.foreground: rgba(
    255,
    18,
    18,
    0.8
  );
  --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
  --vscode-editorUnicodeHighlight-border: #bd9b03;
  --vscode-symbolIcon-arrayForeground: #ebdbb2;
  --vscode-symbolIcon-booleanForeground: #ebdbb2;
  --vscode-symbolIcon-classForeground: #ee9d28;
  --vscode-symbolIcon-colorForeground: #ebdbb2;
  --vscode-symbolIcon-constantForeground: #ebdbb2;
  --vscode-symbolIcon-constructorForeground: #b180d7;
  --vscode-symbolIcon-enumeratorForeground: #ee9d28;
  --vscode-symbolIcon-enumeratorMemberForeground: #75beff;
  --vscode-symbolIcon-eventForeground: #ee9d28;
  --vscode-symbolIcon-fieldForeground: #75beff;
  --vscode-symbolIcon-fileForeground: #ebdbb2;
  --vscode-symbolIcon-folderForeground: #ebdbb2;
  --vscode-symbolIcon-functionForeground: #b180d7;
  --vscode-symbolIcon-interfaceForeground: #75beff;
  --vscode-symbolIcon-keyForeground: #ebdbb2;
  --vscode-symbolIcon-keywordForeground: #ebdbb2;
  --vscode-symbolIcon-methodForeground: #b180d7;
  --vscode-symbolIcon-moduleForeground: #ebdbb2;
  --vscode-symbolIcon-namespaceForeground: #ebdbb2;
  --vscode-symbolIcon-nullForeground: #ebdbb2;
  --vscode-symbolIcon-numberForeground: #ebdbb2;
  --vscode-symbolIcon-objectForeground: #ebdbb2;
  --vscode-symbolIcon-operatorForeground: #ebdbb2;
  --vscode-symbolIcon-packageForeground: #ebdbb2;
  --vscode-symbolIcon-propertyForeground: #ebdbb2;
  --vscode-symbolIcon-referenceForeground: #ebdbb2;
  --vscode-symbolIcon-snippetForeground: #ebdbb2;
  --vscode-symbolIcon-stringForeground: #ebdbb2;
  --vscode-symbolIcon-structForeground: #ebdbb2;
  --vscode-symbolIcon-textForeground: #ebdbb2;
  --vscode-symbolIcon-typeParameterForeground: #ebdbb2;
  --vscode-symbolIcon-unitForeground: #ebdbb2;
  --vscode-symbolIcon-variableForeground: #75beff;
  --vscode-editorHoverWidget-highlightForeground: #689d6a;
  --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
  --vscode-editor-foldBackground: rgba(104, 157, 106, 0.07);
  --vscode-editorGutter-foldingControlForeground: #c5c5c5;
  --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
  --vscode-editorSuggestWidget-background: #282828;
  --vscode-editorSuggestWidget-border: #3c3836;
  --vscode-editorSuggestWidget-foreground: #ebdbb2;
  --vscode-editorSuggestWidget-selectedForeground: #8ec07c;
  --vscode-editorSuggestWidget-selectedBackground: rgba(60, 56, 54, 0.38);
  --vscode-editorSuggestWidget-highlightForeground: #689d6a;
  --vscode-editorSuggestWidget-focusHighlightForeground: #689d6a;
  --vscode-editorSuggestWidgetStatus-foreground: rgba(235, 219, 178, 0.5);
  --vscode-editor-wordHighlightBackground: rgba(87, 87, 87, 0.72);
  --vscode-editor-wordHighlightStrongBackground: rgba(0, 73, 114, 0.72);
  --vscode-editorOverviewRuler-wordHighlightForeground: #665c54;
  --vscode-editorOverviewRuler-wordHighlightStrongForeground: #665c54;
  --vscode-peekViewTitle-background: rgba(60, 56, 54, 0.31);
  --vscode-peekViewTitleLabel-foreground: #ebdbb2;
  --vscode-peekViewTitleDescription-foreground: #bdae93;
  --vscode-peekView-border: #3c3836;
  --vscode-peekViewResult-background: rgba(60, 56, 54, 0.31);
  --vscode-peekViewResult-lineForeground: #bbbbbb;
  --vscode-peekViewResult-fileForeground: #ebdbb2;
  --vscode-peekViewResult-selectionBackground: rgba(142, 192, 124, 0.19);
  --vscode-peekViewResult-selectionForeground: rgba(142, 192, 124, 0.19);
  --vscode-peekViewEditor-background: rgba(60, 56, 54, 0.31);
  --vscode-peekViewEditorGutter-background: rgba(60, 56, 54, 0.31);
  --vscode-peekViewResult-matchHighlightBackground: rgba(142, 192, 124, 0.19);
  --vscode-peekViewEditor-matchHighlightBackground: #ff0000;
  --vscode-editorMarkerNavigationError-background: #cc241d;
  --vscode-editorMarkerNavigationError-headerBackground: rgba(204, 36, 29, 0.1);
  --vscode-editorMarkerNavigationWarning-background: #d79921;
  --vscode-editorMarkerNavigationWarning-headerBackground: rgba(
    215,
    153,
    33,
    0.1
  );
  --vscode-editorMarkerNavigationInfo-background: #458588;
  --vscode-editorMarkerNavigationInfo-headerBackground: rgba(69, 133, 136, 0.1);
  --vscode-editorMarkerNavigation-background: #282828;
  --vscode-tab-activeBackground: #3c3836;
  --vscode-tab-unfocusedActiveBackground: #3c3836;
  --vscode-tab-inactiveBackground: #282828;
  --vscode-tab-unfocusedInactiveBackground: #282828;
  --vscode-tab-activeForeground: #ebdbb2;
  --vscode-tab-inactiveForeground: #a89984;
  --vscode-tab-unfocusedActiveForeground: #a89984;
  --vscode-tab-unfocusedInactiveForeground: #928374;
  --vscode-tab-border: rgba(40, 40, 40, 0);
  --vscode-tab-lastPinnedBorder: #585858;
  --vscode-tab-activeBorder: #689d6a;
  --vscode-tab-unfocusedActiveBorder: rgba(40, 40, 40, 0);
  --vscode-tab-activeModifiedBorder: #3399cc;
  --vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
  --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
  --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
  --vscode-editorPane-background: #282828;
  --vscode-editorGroupHeader-tabsBackground: #282828;
  --vscode-editorGroupHeader-tabsBorder: #3c3836;
  --vscode-editorGroupHeader-noTabsBackground: #3c3836;
  --vscode-editorGroup-border: #3c3836;
  --vscode-editorGroup-dropBackground: rgba(60, 56, 54, 0.38);
  --vscode-sideBySideEditor-horizontalBorder: #3c3836;
  --vscode-sideBySideEditor-verticalBorder: #3c3836;
  --vscode-panel-background: #282828;
  --vscode-panel-border: #3c3836;
  --vscode-panelTitle-activeForeground: #ebdbb2;
  --vscode-panelTitle-inactiveForeground: rgba(235, 219, 178, 0.6);
  --vscode-panelTitle-activeBorder: #ebdbb2;
  --vscode-panel-dropBorder: #ebdbb2;
  --vscode-panelSection-dropBackground: rgba(60, 56, 54, 0.38);
  --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
  --vscode-panelSection-border: #3c3836;
  --vscode-banner-background: rgba(60, 56, 54, 0.5);
  --vscode-banner-foreground: #8ec07c;
  --vscode-banner-iconForeground: #458588;
  --vscode-statusBar-foreground: #ebdbb2;
  --vscode-statusBar-noFolderForeground: #ebdbb2;
  --vscode-statusBar-background: #282828;
  --vscode-statusBar-noFolderBackground: #282828;
  --vscode-statusBar-border: #3c3836;
  --vscode-statusBar-noFolderBorder: rgba(40, 40, 40, 0);
  --vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
  --vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
  --vscode-statusBarItem-prominentForeground: #ebdbb2;
  --vscode-statusBarItem-prominentBackground: rgba(0, 0, 0, 0.5);
  --vscode-statusBarItem-prominentHoverBackground: rgba(0, 0, 0, 0.3);
  --vscode-statusBarItem-errorBackground: #b21504;
  --vscode-statusBarItem-errorForeground: #ffffff;
  --vscode-statusBarItem-warningBackground: #815d14;
  --vscode-statusBarItem-warningForeground: #ffffff;
  --vscode-activityBar-background: #282828;
  --vscode-activityBar-foreground: #ebdbb2;
  --vscode-activityBar-inactiveForeground: rgba(235, 219, 178, 0.4);
  --vscode-activityBar-border: #3c3836;
  --vscode-activityBar-activeBorder: #ebdbb2;
  --vscode-activityBar-dropBorder: #ebdbb2;
  --vscode-activityBarBadge-background: #458588;
  --vscode-activityBarBadge-foreground: #ebdbb2;
  --vscode-statusBarItem-remoteBackground: #458588;
  --vscode-statusBarItem-remoteForeground: #ebdbb2;
  --vscode-extensionBadge-remoteBackground: #458588;
  --vscode-extensionBadge-remoteForeground: #ebdbb2;
  --vscode-sideBar-background: #282828;
  --vscode-sideBar-foreground: #d5c4a1;
  --vscode-sideBar-border: #3c3836;
  --vscode-sideBarTitle-foreground: #ebdbb2;
  --vscode-sideBar-dropBackground: rgba(60, 56, 54, 0.38);
  --vscode-sideBarSectionHeader-background: rgba(40, 40, 40, 0);
  --vscode-sideBarSectionHeader-foreground: #ebdbb2;
  --vscode-titleBar-activeForeground: #ebdbb2;
  --vscode-titleBar-inactiveForeground: rgba(235, 219, 178, 0.6);
  --vscode-titleBar-activeBackground: #282828;
  --vscode-titleBar-inactiveBackground: #282828;
  --vscode-menubar-selectionForeground: #ebdbb2;
  --vscode-menubar-selectionBackground: rgba(255, 255, 255, 0.1);
  --vscode-notifications-foreground: #ebdbb2;
  --vscode-notifications-background: #282828;
  --vscode-notificationLink-foreground: #83a598;
  --vscode-notificationCenterHeader-background: #343434;
  --vscode-notifications-border: #343434;
  --vscode-notificationsErrorIcon-foreground: #cc241d;
  --vscode-notificationsWarningIcon-foreground: #d79921;
  --vscode-notificationsInfoIcon-foreground: #458588;
  --vscode-editorGutter-commentRangeForeground: #c5c5c5;
  --vscode-debugToolBar-background: #282828;
  --vscode-debugIcon-startForeground: #89d185;
  --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
  --vscode-editor-focusedStackFrameHighlightBackground: rgba(
    122,
    189,
    122,
    0.3
  );
  --vscode-settings-headerForeground: #e7e7e7;
  --vscode-settings-modifiedItemIndicator: #0c7d9d;
  --vscode-settings-dropdownBackground: #282828;
  --vscode-settings-dropdownForeground: #ebdbb2;
  --vscode-settings-dropdownBorder: #3c3836;
  --vscode-settings-dropdownListBorder: #3c3836;
  --vscode-settings-checkboxBackground: #282828;
  --vscode-settings-checkboxForeground: #ebdbb2;
  --vscode-settings-checkboxBorder: #3c3836;
  --vscode-settings-textInputBackground: rgba(235, 219, 178, 0.02);
  --vscode-settings-textInputForeground: #ebdbb2;
  --vscode-settings-textInputBorder: #3c3836;
  --vscode-settings-numberInputBackground: rgba(235, 219, 178, 0.02);
  --vscode-settings-numberInputForeground: #ebdbb2;
  --vscode-settings-numberInputBorder: #3c3836;
  --vscode-settings-focusedRowBackground: rgba(128, 128, 128, 0.14);
  --vscode-settings-rowHoverBackground: rgba(128, 128, 128, 0.07);
  --vscode-settings-focusedRowBorder: rgba(255, 255, 255, 0.12);
  --vscode-terminal-background: #282828;
  --vscode-terminal-foreground: #ebdbb2;
  --vscode-terminal-selectionBackground: rgba(255, 255, 255, 0.25);
  --vscode-terminal-border: #3c3836;
  --vscode-terminal-dropBackground: rgba(60, 56, 54, 0.38);
  --vscode-terminal-tab\.activeBorder: #689d6a;
  --vscode-testing-iconFailed: #f14c4c;
  --vscode-testing-iconErrored: #f14c4c;
  --vscode-testing-iconPassed: #73c991;
  --vscode-testing-runAction: #73c991;
  --vscode-testing-iconQueued: #cca700;
  --vscode-testing-iconUnset: #848484;
  --vscode-testing-iconSkipped: #848484;
  --vscode-testing-peekBorder: #cc241d;
  --vscode-testing-peekHeaderBackground: rgba(204, 36, 29, 0.1);
  --vscode-testing-message\.error\.decorationForeground: #cc241d;
  --vscode-testing-message\.error\.lineBackground: rgba(255, 0, 0, 0.2);
  --vscode-testing-message\.info\.decorationForeground: rgba(
    235,
    219,
    178,
    0.5
  );
  --vscode-welcomePage-tileBackground: #282828;
  --vscode-welcomePage-tileHoverBackground: #303030;
  --vscode-welcomePage-tileShadow: rgba(40, 40, 40, 0.19);
  --vscode-welcomePage-progress\.background: rgba(235, 219, 178, 0.02);
  --vscode-welcomePage-progress\.foreground: #83a598;
  --vscode-statusBar-debuggingBackground: #fe8019;
  --vscode-statusBar-debuggingForeground: #282828;
  --vscode-statusBar-debuggingBorder: rgba(40, 40, 40, 0);
  --vscode-debugExceptionWidget-border: #a31515;
  --vscode-debugExceptionWidget-background: #420b0d;
  --vscode-ports-iconRunningProcessForeground: #458588;
  --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
  --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
  --vscode-editorGutter-modifiedBackground: #83a598;
  --vscode-editorGutter-addedBackground: #b8bb26;
  --vscode-editorGutter-deletedBackground: #fb4934;
  --vscode-minimapGutter-modifiedBackground: #0c7d9d;
  --vscode-minimapGutter-addedBackground: #587c0c;
  --vscode-minimapGutter-deletedBackground: #94151b;
  --vscode-editorOverviewRuler-modifiedForeground: #83a598;
  --vscode-editorOverviewRuler-addedForeground: #83a598;
  --vscode-editorOverviewRuler-deletedForeground: #83a598;
  --vscode-debugIcon-breakpointForeground: #e51400;
  --vscode-debugIcon-breakpointDisabledForeground: #848484;
  --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
  --vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
  --vscode-debugIcon-breakpointStackframeForeground: #89d185;
  --vscode-keybindingTable-headerBackground: rgba(235, 219, 178, 0.04);
  --vscode-keybindingTable-rowsBackground: rgba(235, 219, 178, 0.04);
  --vscode-notebook-cellBorderColor: rgba(60, 56, 54, 0.5);
  --vscode-notebook-focusedEditorBorder: #3c3836;
  --vscode-notebookStatusSuccessIcon-foreground: #89d185;
  --vscode-notebookStatusErrorIcon-foreground: #fb4934;
  --vscode-notebookStatusRunningIcon-foreground: #ebdbb2;
  --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
  --vscode-notebook-selectedCellBackground: rgba(60, 56, 54, 0.5);
  --vscode-notebook-selectedCellBorder: rgba(60, 56, 54, 0.5);
  --vscode-notebook-focusedCellBorder: #3c3836;
  --vscode-notebook-inactiveFocusedCellBorder: rgba(60, 56, 54, 0.5);
  --vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
  --vscode-notebook-cellInsertionIndicator: #3c3836;
  --vscode-notebookScrollbarSlider-background: rgba(80, 73, 69, 0.6);
  --vscode-notebookScrollbarSlider-hoverBackground: #665c54;
  --vscode-notebookScrollbarSlider-activeBackground: #689d6a;
  --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
  --vscode-notebook-cellEditorBackground: #282828;
  --vscode-scm-providerBorder: #454545;
  --vscode-searchEditor-textInputBorder: #3c3836;
  --vscode-debugTokenExpression-name: #c586c0;
  --vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
  --vscode-debugTokenExpression-string: #ce9178;
  --vscode-debugTokenExpression-boolean: #4e94ce;
  --vscode-debugTokenExpression-number: #b5cea8;
  --vscode-debugTokenExpression-error: #f48771;
  --vscode-debugView-exceptionLabelForeground: #ebdbb2;
  --vscode-debugView-exceptionLabelBackground: #6c2022;
  --vscode-debugView-stateLabelForeground: #ebdbb2;
  --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
  --vscode-debugView-valueChangedHighlight: #569cd6;
  --vscode-debugConsole-infoForeground: #458588;
  --vscode-debugConsole-warningForeground: #d79921;
  --vscode-debugConsole-errorForeground: #fb4934;
  --vscode-debugConsole-sourceForeground: #ebdbb2;
  --vscode-debugConsoleInputIcon-foreground: #ebdbb2;
  --vscode-debugIcon-pauseForeground: #75beff;
  --vscode-debugIcon-stopForeground: #f48771;
  --vscode-debugIcon-disconnectForeground: #f48771;
  --vscode-debugIcon-restartForeground: #89d185;
  --vscode-debugIcon-stepOverForeground: #75beff;
  --vscode-debugIcon-stepIntoForeground: #75beff;
  --vscode-debugIcon-stepOutForeground: #75beff;
  --vscode-debugIcon-continueForeground: #75beff;
  --vscode-debugIcon-stepBackForeground: #75beff;
  --vscode-extensionButton-prominentBackground: rgba(184, 187, 38, 0.5);
  --vscode-extensionButton-prominentForeground: #ebdbb2;
  --vscode-extensionButton-prominentHoverBackground: rgba(184, 187, 38, 0.19);
  --vscode-extensionIcon-starForeground: #ff8e00;
  --vscode-extensionIcon-verifiedForeground: #83a598;
  --vscode-extensionIcon-preReleaseForeground: #1d9271;
  --vscode-terminal-ansiBlack: #3c3836;
  --vscode-terminal-ansiRed: #cc241d;
  --vscode-terminal-ansiGreen: #98971a;
  --vscode-terminal-ansiYellow: #d79921;
  --vscode-terminal-ansiBlue: #458588;
  --vscode-terminal-ansiMagenta: #b16286;
  --vscode-terminal-ansiCyan: #689d6a;
  --vscode-terminal-ansiWhite: #a89984;
  --vscode-terminal-ansiBrightBlack: #928374;
  --vscode-terminal-ansiBrightRed: #fb4934;
  --vscode-terminal-ansiBrightGreen: #b8bb26;
  --vscode-terminal-ansiBrightYellow: #fabd2f;
  --vscode-terminal-ansiBrightBlue: #83a598;
  --vscode-terminal-ansiBrightMagenta: #d3869b;
  --vscode-terminal-ansiBrightCyan: #8ec07c;
  --vscode-terminal-ansiBrightWhite: #ebdbb2;
  --vscode-interactive-activeCodeBorder: #3c3836;
  --vscode-interactive-inactiveCodeBorder: rgba(60, 56, 54, 0.5);
  --vscode-gitDecoration-addedResourceForeground: #81b88b;
  --vscode-gitDecoration-modifiedResourceForeground: #d79921;
  --vscode-gitDecoration-deletedResourceForeground: #cc241d;
  --vscode-gitDecoration-renamedResourceForeground: #73c991;
  --vscode-gitDecoration-untrackedResourceForeground: #98971a;
  --vscode-gitDecoration-ignoredResourceForeground: #7c6f64;
  --vscode-gitDecoration-stageModifiedResourceForeground: #e2c08d;
  --vscode-gitDecoration-stageDeletedResourceForeground: #c74e39;
  --vscode-gitDecoration-conflictingResourceForeground: #b16286;
  --vscode-gitDecoration-submoduleResourceForeground: #8db9e2;
}
